<!DOCTYPE html>
<html ng-app="sportsStoreApp">
<head>
    <title>Sports Store</title>
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Lib/Modules/SportsStoreModule.js"></script>
    <script src="Lib/Controller/SportsStoreController.js"></script>
    <script src="Lib/Controller/ProductListController.js"></script>
    <script src="Lib/Controller/CartSummaryController.js"></script>
    <script src="Lib/Filter/CustomFilter.js"></script>
    <script src="Lib/Services/ProductsData.js"></script>
    <script src="Lib/Components/Cart/Cart.js"></script>
    
    <meta charset="utf-8" />
</head>
<body ng-controller="sportsStoreController">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-purple">
        <a class="navbar-brand" href="#">Sports Store</a>
        <cart-summary/>
    </nav>
    <ng-view/>
    <!-- Before Routing -->
    <!--<ng-include src="'../Lib/Views/ProductList.html'"></ng-include>-->
</body>
</html>
<!-- First
     <div class="dataPlacement row container-fluid">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 ">
            <a class="btn btn-block btn-outline-primary">Home</a>
            <a class="btn btn-block btn-outline-primary"ng-repeat="item in productsData.products|orderBy:'Category'|unique:'Category'">
                {{item}}</a>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 ">
            <div class="card" ng-repeat="item in productsData.products">
                <h4 class="m-1">
                    <strong>{{item.ProductName}}</strong>
                    <span>{{item.Price|currency:"$":2}}</span>
                </h4>
                <span class="lead m-1">{{item.Description}}</span>
            </div>
        </div>
    </div> -->
<!-- second for category
     <div class="dataPlacement row container-fluid" ng-controller="productListController">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 ">
            <a class="btn btn-block btn-outline-primary"ng-click="selectCategory()">Home</a>
            <a class="btn btn-block btn-outline-primary"ng-repeat="item in productsData.products|orderBy:'Category'|unique:'Category'"ng-click="selectCategory(item)" ng-class="getCategoryClass(item)">
                {{item}}</a>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 ">
            <div class="card" ng-repeat="item in productsData.products|filter:categoryFilterFN">
                <h4 class="m-1">
                    <strong>{{item.ProductName}}</strong>
                    <span>{{item.Price|currency:"$":2}}</span>
                </h4>
                <span class="lead m-1">{{item.Description}}</span>
            </div>
        </div>
    </div> -->